.footer {
  background: @me-black;
  color: @me-medium;
  .footer-left {
    border-right: 1px solid @me-medium;
    padding-bottom: 20px;
    img {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  .footer-middle {
    a {
      color: @me-blue-light;
      .trans;
      &:hover {
        background: @me-blue-light;
        color: @me-light;
      }
    }
  }
  .footer-right {
    .fa {
      color: @me-medium;
    }
  }
}