/* GLOBAL */

a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  &:focus {
    outline: none;
  }
}

a:hover {
  text-decoration: none;
}

a:active, a:focus, a:visited {
  color: inherit;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 700;
  margin-top: 10px;
}

@pad: 5rem;

.padded {
  padding-top: @pad;
  padding-bottom: @pad;
}

.trans {
  transition: all .5s;
}

body {
  font-size: 16px;
  background: @me-black;
}

.content-section {
  background: @me-white;
}

.btn-primary {
  font-size: 2.4rem;
  padding: 1rem 3rem;
  background: none;
  border: 2px solid @me-white;
  .trans;
  font-family: 'Open Sans Condensed';
  letter-spacing: .5rem;
  &:hover {
    background: #fff;
    border: 2px solid @me-white;
    color: black;
  }
}

button {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

.gfield_label {
  color: @me-black;
}

input[type="submit"] {
  border: 1px solid @me-white;
  border-radius: 0;
  background: @me-green;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-size: 2rem!important;
  letter-spacing: .5rem;
  padding: 10px 20px;
  .trans;
  &:hover {
    border: 1px solid @me-black;
    background: @me-white;
    box-shadow: none;
  }
}

input[type="text"] {
  border-radius: 0;
}

.floral-blue {
  background: url('../img/floral-bg-3.jpg');
}

.floral-green {
  background: url('../img/floral-bg-2.jpg');
}

.heading {
  .trans;
  background-size: cover;
  height: 200px;
  margin-top: 200px;
  color: @me-white;
  text-shadow: 0px 1px 2px @me-black;
  text-transform: uppercase;
  letter-spacing: 1rem;
  display: flex;
  align-items: center;
  h2 {
    font-size: 4rem;
  }
}

.shrink-heading {
  margin-top: 114px;
}

.home-heading {
  background-size: cover;
  height: 200px;
  color: @me-white;
  text-shadow: 0px 1px 2px @me-black;
  text-transform: uppercase;
  letter-spacing: 1rem;
  display: flex;
  align-items: center;
  h2 {
    font-size: 4rem;
  }
}

.content-area {
  .padded;
}

.service-icon-interior {
      margin-bottom: @pad;
      border-radius: 50%;
      width: 180px;
      padding: 20px;
      background: @me-white;
      border: 10px solid @me-green-light;
    }