.cover {
  height: 500px;
  min-height: 400px;
  margin-top: 200px;
  color: @me-white;
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(32, 67, 118, 0.7);
  }
  video {
  	 position: fixed;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
  }
  .cover-caption {
    z-index: 20;
  }
}

.shrink-cover {
  margin-top: 60px;
}

.services-container {
  .padded;
	background: @me-white;
  .service {
    padding: 15px;
    .service-icon {
      border-radius: 50%;
      border: 1px solid @me-blue-light;
      width: 180px;
      padding: 20px;
      background: @me-white;
      .trans;
      &:hover {
        border: 10px solid @me-green-light;
      }
    }
    h2 {
      color: @me-blue;
    }
  }
}

.testimonials-container {
  background: @me-blue;
  .well {
    border: none;
    background: @me-blue-light;
    color: @me-white;
  }
}

.cta-container {
  background: @me-blue;
  color: @me-white;
  height: 50vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  .cta-bg {
    opacity: .5;
    background: url('../img/cta-bg.jpg');
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
}