/* MOBILE */

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
  .cover {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 50px;
    .navbar-header {
      .navbar-brand {
        position: absolute;
        font-size: 1.4rem;
      }
    }
    .navbar-collapse {
      max-height: 100vh;
      .navbar-nav {
        height: 100vh;
        width: 100%;
        margin-left: 0;
        padding-top: 8vh;
        li {
          font-size: 2.2rem;
          height: 60px;
        }
      }
    }
    .navbar-list {
      display: flex;
      background: @me-white;
    }
  }
  .cover {
    height: 70vh;
  }
  .heading {
    margin-top: 50px;
    height: 100px;
    h2 {
      font-size: 2.2rem;
    }
  }
  .home-heading {
    height: 100px;
    h2 {
      font-size: 2.2rem;
    }
  }
}