nav {
  .trans;
  height: 200px;
  box-shadow: 0px 2px 5px @me-black;
  .navbar-collapse {
    text-align: center;
    .nav-logo {
      .trans;
      height: 150px;
    }
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      li {
        font-family: 'Open Sans Condensed';
        letter-spacing: .3rem;
        text-transform: uppercase;
        .trans;
        &:hover {
          background: @me-green-light;
        }
      }
    }
  }
}

.navbar-default .navbar-toggle {
  border: none;
  background: @me-white;
}

.navbar-default .navbar-nav > .active > a {
  background: @me-green-light;
  &:hover {
    background: @me-green-light;
  }
}

.shrink {
  height: 50px;
  .navbar-collapse {
    .nav-logo {
      height: 0px;
    }
  }
}