.contact-container {
	.padded;
	background: @bss-white;
	
	#contact-hero {
		min-height: 500px;
		background-size: 100%;
		background-position: top center;
		background-repeat: no-repeat;
	}
	h3 {
		color: @bss-dark;
	}
}