.event-container {
	padding-top: @pad/2;
	padding-bottom: @pad/4;
	margin-bottom: @pad;
	background: @bss-white;
	box-shadow: 0px 2px 2px rgba(30,30,30, .3);
	.event-details {
		p, a {
			display: inline;
		}
		a h3 {
			color: @bss-red;
		}
		.facebook-button {
			margin-top: @pad/2;
			margin-bottom: @pad/2;
		}
		.event-members {
			padding-top: @pad/2;
			padding-bottom: @pad;
			a {
				img {
					width: 60%;
					height: inherit;
					display: block;
					margin: 0 auto;
					border-radius: 50%;
					margin-bottom: 15px;
					background: @bss-light;
				}
				text-transform: uppercase;
			}
		}
	}
}


#pagination {
	.pages {
		ul {
			padding-left: 0;
			li {
				padding-left: 2rem;
				text-transform: uppercase;
				font-size: 1.6rem;
				display: inline;
			}
		}
	}
}