@pad: 4em;

.center {
	text-align: center;
	margin: 0 auto;
}

.nopad {
	padding: 0;
}

.padded {
	padding-top: 	@pad;
	padding-bottom: @pad;
}

.shadow {
	box-shadow: 0px 4px 4px rgba(24, 24, 28, 0.4);
}


.trans {
	transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

body {
	margin-top: 50px;
	background: @bss-dark;
}

a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	&:hover{
	text-decoration: none;
	}
}

a {
	font-weight: 400;
	color: @bss-red;
	&:hover {
		color: @bss-red-hover;
	}
	&:focus {
		outline: none;
		text-decoration: none;
		color: @bss-red-hover;
	}

}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 400;
	letter-spacing: 2px;
}
h3 {
	font-weight: 300;
}

h4 {
	font-weight: 300;
	display: inline;
}

hr {
	margin-top: 10px;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram {
	.trans;
	color: @bss-white;
    &:hover {
        color: @bss-red;
    }
}

li {
	list-style-type: none;
}

.interior-header {
	padding-top: @pad;
	padding-bottom: @pad;
	background-color: @bss-medium;
	background-size: cover;
	background-position: center center;
	height: 150px;
	h2 {
		color: @bss-white;
		display: inline;

		padding: .5em;
		text-transform: uppercase;
	}
}
.cover-photo {
	background: none;
	min-height: 200px;
}

.btn, .gform_button {
	padding: 12px 24px;
	border-radius: 0;
	border: none;
	background: @bss-red;
	color: @bss-white;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 4px 4px rgba(24, 24, 28, 0.3);
	.trans;
	&:hover {
			background: @bss-red-hover;
			box-shadow: 0px 8px 16px rgba(24, 24, 28, 0.3);
			color: @bss-white;
			text-shadow: 0px 1px 5px #666;
		}
	.fa {
		padding-right: 20px;
	}
}

.bg-black {
	background: @bss-dark;
	p, h1, h2, h3, h4, h5, h6 {
	color: @bss-white;
	}
}

.bg-grey {
	background: @bss-light;
	p, h1, h2, h3, h4, h5, h6 {
	color: @bss-white;
	}
}

.bg-white {
	background: @bss-white;
	p, h1, h2, h3, h4, h5, h6 {
		color: @bss-dark;
	}
}

.bg-shade {
	background: @bss-shade;
	p, h1, h2, h3, h4, h5, h6 {
		color: @bss-dark;
	}
}

.featuring {
	color: @bss-grey;
	font-weight: bold;
	text-transform: uppercase;
}

// mobile

@media (max-width:480px) {
   .interior-header {
		padding-top: @pad/1.5;
		padding-bottom: @pad/2;
		height: 100px;
	.cover-photo {
		height: 100px;
		background: none;
	}
	.center;
	h2 {
		font-size: 1.5em;
		padding: .4em;
		}
	}
	iframe {
		width: 95%;
	}
}
