/**********
Hero
**********/
#hero {
	background-position: top center;
	background-attachment: fixed;

	position: relative;
	height: 80vh;
	min-height: 600px;
	padding-top: 25vh;

	h1 {
		color: @bss-white;
		font-size: 8rem;
		line-height: 7rem;
	}
	p {
		color: @bss-white;
		margin-bottom: 2rem;
		font-size: 2rem;
	}

}

/**********
How
**********/
#how {
	.padded;
	background: @bss-white;
	z-index: 300;
	h3 {
		color: @bss-grey;
		font-style: italic;
		padding-bottom: @pad/4;
	}
}

/**********
CTA
**********/
#cta {
	border-top: 10px solid @bss-medium;
	border-bottom: 10px solid @bss-medium;
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 400px;
	min-height: 30vh;
	.cta-box {
		position: relative;
  	top: 50%;
  	transform: translateY(70%);
		h3 {
			padding-bottom: 1em;
			color: @bss-white;
		}
	}

}



// mobile
@media (max-width:480px) {

	#hero {
		min-height: 320px;
		padding-top: 10vh;

		h1 {
			font-size: 4.5rem;
			line-height: 4.5rem;
		}
	}

	#how {
		h3 {
			font-size: 1.8rem;
		}
	}

}
