

.member-container {
	.padded;
	.bg-grey;

	.member-col {
		.member-pic {
			background-size: 1%;
			background-repeat: no-repeat;
			background-position: center center;
			img {
				.trans;
				width: 95%;
				opacity: 1;
				height: auto;
				max-width: 400px;
				border-radius: 50%;
				border: 5px solid @bss-medium;
			}
		}
		.member-pic-hover {
			.member-pic;
			&:hover {
				.trans;
				background-size: 90%;
				img {
					opacity: .2;
				}
			}
		}
		.member-name {
			padding-top: @pad/2;
			padding-bottom: @pad;
			text-transform: uppercase;
			letter-spacing: 4px;
		}
		.member-social {
			.social-links {
				padding-left: 0;
				padding-top: 2rem;
				padding-bottom: 2rem;
				li {
				display: inline;
				padding-left: 1rem;
				padding-right: 1rem;
					a {
						color: @bss-white;
					}
				}
			}
		}
	}

	.member-about {
		.member-icon {
			width: 50px;
			height: 50px;
			margin: 1rem 1rem 1rem 0;
			border-radius: 50%;
			border: 1px solid @bss-white;
		}
		h4 {
			padding-top: @pad/2;
			padding-bottom: @pad;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}
}

// mobile

@media (max-width:768px) {
	.member-container {
		.member-col {
			text-align: center;
			.member-name {
				font-size: 1.6rem;
			}
			h4 {
				font-size: 1.3em;
				display: block;
			}
		}
		.member-about {
			.center;
			padding-bottom: @pad;
			.member-icon {
				display: block;
				margin: 2rem auto;
			}
			h4 {
				padding-bottom: @pad*2;
				font-size: 150%;
			}
			p {
				text-align: left;
				padding-bottom: 10px;			}
		}
	}
}
