/**********
Nav
**********/

#main-nav {
    background: @bss-white;
    border: none;
    
    .navbar-brand {
        padding: 0;
        margin: 0;
        height: 50px;
        width: 50px;
    }

    #main-menu {
        padding: 0;
        margin: 0;
        
        li {
            a  {
                .trans;
                height: 50px;
                color: @bss-dark;
                padding: 15px 12px;
                font-size: 1.8rem;
                font-weight: bold; 
                &:hover {
                    background: @bss-red;
                    color: @bss-white;
                } 
            }
            @media (max-width: 500px) {
                text-align: center;
            }
        }
    }

    .navbar-toggle {
        margin: 0;
        border: none;
        border-radius: 0;
        padding: 17px 20px;
        
        .icon-bar {
            background: @bss-red;
        }
    }

    .navbar-collapse {
        padding: 0;
        border: none;
    }
}



/**********
Footer
**********/
#footer {
    background: @bss-dark;
    color: @bss-white;
    padding-top: @pad/2;
    padding-bottom: @pad;

    
    ul {
        li {
            display: inline;
            list-style-type: none;
            padding-left: 20px;
            a {
                .trans;
                color: @bss-white;
                text-decoration: none;
                &:hover {
                    color: @bss-red;
                }
            }
        }
    }

    #social {
        padding-top: @pad/2;
        padding-bottom: @pad;
    }
}



// mobile
@media (max-width:480px) {
    #footer {
        #social {
            text-align: center;
        }
    }
}